<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="/css/style.css" />
		<link rel="stylesheet" href="/css/the-food.css" />
		<link rel="stylesheet" href="/css/nav_bar.css" />
		<title>The food</title>
		<style>
			@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Praise&family=Rubik+Microbe&family=UnifrakturMaguntia&display=swap');		
		</style>
	</head>

	<body>
		<div class="home_page" style="background-color: #032e1b">
			<nav>
				<a href="/home" class="logo" style="color: aliceblue"><img src="/assets/Ảnh_màn_hình_2025-01-20_lúc_16.14.14-removebg-preview.png" alt=""></a>
				<div class="links">
					<a href="/shop" style="font-size: 18px;">Shop</a>
					<a href="/the-food" style="font-size: 18px;">The Food</a>
					<a href="/about_us.html" style="font-size: 18px;">About Us</a>
					<a href="/rewards" style="font-size: 18px;">Rewards</a>
				</div>
				<div class="user-cart">
					<div class="user-in4" style="font-size: 20px">
						<a href="/login.html" class="circle">
							<i class="bx bx-user"></i>
						</a>
					</div>
					<% if (userId) { %>
						<li><a href="/cart"><i class="bx bx-cart-alt"></i>Cart</a></li>
						<li><a href="/logout">Đăng xuất</a></li>
					<% } else { %>
						<li><a href="/login.html">Đăng nhập</a></li>
						<li><a href="/register.html">Đăng ký</a></li>
					<% } %>
				</div>
			</nav>
		</div>
		<div class="special_species">
			<div class="text_layer">
				<h1 style="font-family: 'Praise', serif;" >The Food</h1>
			</div>
			<div class="image_layer">
				<img src="/assets/Chef's Fiery Performance.jpg" alt="chef">
			</div>
			<div class="subtext_layer">
				<h1>ALL OUR PRODUCTS ARE EXTREMELY EXQUISITE</h1>
				<h2>WANNA JOIN WITH US?</h2>
			</div>
		</div>
		<div class="process">
			<div class="left_container">
				<h1 style="font-family: 'Courier Prime', serif;">Shopping with all your passion!</h1>
				<h2 style="font-family: 'Praise', serif;" class="h2_first">Your cart</h2>
				<h2 style="font-family: 'Praise', serif;" class="h2_second">Your choice</h2>
				<div class="lContainer_image">
					<img src="/assets/Komero - Werklig —.jpg" alt="shopping_image">
				</div>
			</div>
			<div class="right_container">
				<div class="rContainer_image1">
					<img src="/assets/Premium PSD | Hand holding mailing box mockup.jpg" alt="shopping_image">
				</div>
				<h1 style="font-family: 'Courier Prime', serif;">Your choice is our greatest motivation to keep moving forward. We will carefully pack your order and deliver it straight to your hands. Enjoy every moment of your selection!</h1>
				<div class="rContainer_image2">
					<img src="/assets/BP03_Box Packaging Mockup.jpg" alt="">
				</div>
			</div>
		</div>
		<div class="compliment">
			<div class="compliment1">
				<h1>"Shop nhiệt tình và gói hàng kỹ lưỡng. +1 vào favorite shop."</h1>
				<h2>Anh Tùng</h2>
			</div>
			<div class="compliment2">
				<h1>"Giao hàng siêu nhanh. Đôi khi mới đặt mà cũng giao liền. 10đ không có nhưng!"</h1>
				<h2>Chị Vy Bình Dương</h2>
			</div>
			<div class="compliment3">
				<h1>"Đồ rẻ mà chất lượng nha. Anh chị chủ shop rất thân thiện."</h1>
				<h2>Em Quỳnh</h2>
			</div>
		</div>
		<div class="certificate_container">
			<div class="left_panel">
				<img src="/assets/mau-giay-du-dieu-kien-vs-an-toan-thuc-pham.jpg" alt="">
			</div>
			<div class="right_panel" id="scrollable-right">
				<div class="content_block">
					<div class="block1">
						<h1 style="font-family: 'Rubik Microbe',serif; font-size: 200px;">1</h1>
						<img src="/assets/ -2.jpg" alt="">
					</div>
					<div class="block2">
						<h2>All products in this store undergo meticulous and rigorous inspection to ensure the highest standards of quality and excellence. 
						</h2>	
					</div>
				</div>
				<div class="content_block">
					<div class="block1">
						<h1 style="font-family: 'Rubik Microbe',serif; font-size: 200px;">2</h1>
						<img src="/assets/TokyoTreat_ Japanese Candy & Snacks Subscription Boxes.jpg" alt="">
					</div>
					<div class="block2">
						<h2>Our products are meticulously packaged and carefully preserved to ensure they reach our customers in the best possible condition. 
						</h2>	
					</div>
				</div>
				<div class="content_block">
					<div class="block1">
						<h1 style="font-family: 'Rubik Microbe',serif; font-size: 200px;">3</h1>
						<img src="/assets/Here Are Some Simple Ways You Can Help Your Community During the Coronavirus Outbreak.jpg" alt="">
					</div>
					<div class="block2">
						<h2>then delivered straight to our valued customers. Enjoy it to the fullest! 
						</h2>	
					</div>
				</div>
			</div>
		</div>
		<footer>
			<h3>chuntinne</h3>
			<div class="right">
				<div class="links">
					<a href="#">Privacy Policy</a>
					<a href="#">Cooperation</a>
					<a href="#">Sponsorship</a>
					<a href="#">Contact Us</a>
				</div>
				<div class="social">
					<i class="bx bxl-instagram"></i>
					<i class="bx bxl-facebook-square"></i>
					<i class="bx bxl-github"></i>
				</div>
				<p>Copyright © 2024 nhin cc, All Rights Reserved.</p>
			</div>
		</footer>
		<script src="/js/script.js"></script>
	</body>
</html>
