body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('Free Vector | Food doodle frame on a beige background vector.jpg') no-repeat;
    background-size: cover;
    background-position:center; 
}